input{
   height: 40px;
   border-radius: 2px;
   margin-left: 10px;}



img{
  width: 40px;
   height: 50px; 
  object-fit: contain;
}

.handing {
   background-color: blue;
   display: flex;
   align-items: center;
 }
 
 .handing img {
   margin-right: 8px; 
 }
 
 .handing span {
   color: white; /
 }

 th {
   font-weight: bold;
   background-color: silver;
   border: 2px solid black;
   width: 50px;
  }
  
  .calculator-container {
      background-color: white;
      padding: 40px;
      display: inline-block;
      border: 7px solid blue;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-top: -22px;
   



  }

  .calculater th {
   border-radius: 3px;
  margin-top: 200px;}


  .calulater {
   position: relative; 
   width: 522px;
  
 }
 
 .icons {
   position: absolute;
   display: flex;
   top: 20px;
   left: 400px;
  
  

 }
 
 .icons img {
   margin-right: 10px;
   width: 30px; /* add this */
   height: 20px; /* add this */
 }
   
 
 
